body, html {
  overflow-x: hidden;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: url('../img/image1.jpg');
    background-size: cover;
}

.carousel-image-2 {
    background: url('../img/image2.jpg');
    background-size: cover;
}

.carousel-image-3 {
    background: url('../img/image3.jpg');
    background-size: cover;
}

#home-heading { 
    position: relative;
    min-height: 200px;
    background: url('../img/lights.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

#video-section {
    position: relative;
    min-height: 200px;
    background: url('../img/media.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    color: #fff;
  }

#video-section a {
    color: white;
}

#main-footer {
  background: black;
}

/* this will make the images in the lightbox pop up */
#gallery img:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  transform: scale(1.05, 1.05);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#gallery img:hover::after {
  opacity: 0;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.275);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#gallery img:hover::after {
  opacity: 1;
}

#page-header {
  padding-top: 70px;
  height: 300px;
  background: url('../img/image1.jpg');
  background-position: 0 -390px;
  background-attachment: fixed;
  border-bottom: 1px #eee solid;

}

#services-header {
  padding-top: 70px;
  height: 300px;
  background: url('../img/image2.jpg');
  background-position: 0 -390px;
  background-attachment: fixed;
  border-bottom: 1px #eee solid;

}

#blog-header {
  padding-top: 70px;
  height: 300px;
  background: url('../img/image3.jpg');
  background-position: 0 -420px;
  background-attachment: fixed;
  border-bottom: 1px #eee solid;

}

#contact-header {
  padding-top: 70px;
  height: 300px;
  background: url('../img/image2.jpg');
  background-position: 0 -420px;
  background-attachment: fixed;
  border-bottom: 1px #eee solid;

}

/* this will move the text down to make it more visible
 since the nav is .fixed-top */
#about-text, #services-text {
  padding-top: 40px;
}

.about-img, .services-img {
  margin-top: -50px;
}


/* the following properties will allow cards to "pop" on hover */
#about-boxes .card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  transform: scale(1.05, 1.05);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#about-boxes .card::after {
  opacity: 0;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.275);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#about-boxes .card:hover::after {
  opacity: 1;
}

#faq-section a {
  color: white;
}

#staff {
  background: #333;
  color: white;
}